/*Screen size utils*/
$break-small: 800px;
$break-large: 1200px;

@mixin adjust-content($media) {
  @if $media == medium-screen {
    @media only screen and (min-width: $break-small) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == large-screen {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}
/*Size base*/
$base-margin: 20px;
$padding-base: 5px;
$horizontal-box-width: 350px;
$horizontal-box-height: 300px;
$box-vert-width: 250px;
$box-vert-height: 600px;
$box-header-fixed-height: 120px;
$box-content-fixed-height: 240px;
/**/
$base-border: 1px solid black;
$gallery-item-border: 2px outset rgba(223, 223, 223, 0.13);
$color-primary: #fff;
$header-background: #a1a1a1;
$green: #278010;
/*Layout and positioning utils*/
$sm-vert-push-left: calc(0px - #{$horizontal-box-width} - #{$base-margin} * 2);
$sm-hor-push-right: calc(#{$horizontal-box-width} + #{$base-margin} / 2);
$lg-vert-push-left: calc(0px - #{$horizontal-box-width} - #{$base-margin} - #{$base-margin});
$lg-vert-push-right: calc(#{$horizontal-box-width} + #{$base-margin} + #{$base-margin});
$lg-hor-push-right: calc(#{$box-vert-width} + #{$base-margin} + #{$base-margin});
$lg-hor-push-left: calc(0px - #{$box-vert-width} - #{$base-margin} - #{$base-margin});
@mixin sm-vert-push-left() {
  transform: translate($sm-vert-push-left, 0);
}

@mixin sm-hor-push-right() {
  transform: translate($sm-hor-push-right, 0);
}

@mixin lg-vert-push-left() {
  transform: translate($lg-vert-push-left, 0);
}

@mixin lg-vert-push-right() {
  transform: translate($lg-vert-push-right, 0);
}

@mixin lg-hor-push-right() {
  transform: translate($lg-hor-push-right, 0);
}

@mixin lg-hor-push-left() {
  transform: translate($lg-hor-push-left, 0);
}
/**/
body, html {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header.grid {
  height: 100px;
  background-color: $header-background;
}
/*****************************************Gallery layout****************************/
.gallery {
  width: fit-content;
  margin: auto;
  display: grid;
  @include adjust-content(medium-screen) {
    grid-template-areas: "left right";
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    min-width: 100%;
  }
  @include adjust-content(large-screen) {
    grid-template-areas: "left middle right";
    grid-template-columns: 1fr 3$horizontal-box-height 1fr;
    grid-auto-flow: column;
    min-width: 85%;
  }
}

.box {
  width: $horizontal-box-width;
  height: $horizontal-box-height;
  border: $base-border;
  box-sizing: border-box;
  margin: $base-margin;
  background-color: white;
  padding: 0 $padding-base*3;
  border: $gallery-item-border;
  display: grid;
  grid-template-areas: "head" "content";
  grid-template-rows: auto $box-content-fixed-height;
}

.last-row {
  display: grid;
  margin: auto;
  @include adjust-content(medium-screen) {
    .box {
      width: 100%;
      margin: $base-margin 0;
    }
  }
  @include adjust-content(large-screen) {
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    .gallery-item {
      display: flex;
      grid-area: auto;
      .box {
        width: 100%;
      }
    }
    .gallery-item:nth-child(odd) {
      justify-content: flex-end;
    }

  }
}

@media only screen and (min-width: $break-small) {
  //.gallery-item {
  //  grid-area: left;
  //  grid-row: auto;
  //}
  .vertical,
  .vertical-normal {
    grid-area: right;
    grid-row: span 2;
    .box {
      width: $box-vert-width;
      height: $box-vert-height;
    }
  }

  .vertical-normal.push-left {
    @include sm-vert-push-left();
  }

  .push-right {
    @include sm-hor-push-right();
  }

  .item1 .box,
  .item5 .box,
  .item7 .box,
  .item11 .box,
  .item13 .box {
    margin-bottom: 0;
  }

  .item2 .box,
  .item6 .box,
  .item8 .box,
  .item12 .box,
  .item14 .box {
    margin-top: 0;
  }
  .item1, .item2, .item7, .item8, .item13, .item14 {
    display: flex;
    justify-content: flex-end;
  }
  .item4, .item10 {
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: $break-large) {
  //.push-left,
  .push-right,
  .vertical-normal.push-left {
    transform: none;
  }

  .normal-vertical .box {
    width: $box-vert-width;
    height: $box-vert-height;
  }
  .vertical-normal .box {
    width: $horizontal-box-width;
    height: $horizontal-box-height;
  }

  .gallery-item.item1,
  .gallery-item.item2,
  .gallery-item.item11,
  .gallery-item.item13 {
    grid-area: left;
    grid-row: auto;
  }

  .gallery-item.item3 {
    grid-area: middle;
    grid-row: auto / span 2;
  }

  .gallery-item.item4,
  .gallery-item.item5,
  .gallery-item.item8,
  .gallery-item.item10 {
    grid-area: right;
    grid-row: auto;
  }

  .gallery-item.item6 {
    grid-area: middle;
    grid-row: auto / span 2;
    @include lg-vert-push-left()
  }

  .gallery-item.item7,
  .gallery-item.item9 {
    grid-area: left;
    grid-row: auto;
    @include lg-hor-push-right();
  }

  .gallery-item.item12,
  .gallery-item.item14 {
    grid-area: right;
    grid-row: auto;
    @include lg-hor-push-left();
  }

  .gallery-item.item15 {
    grid-area: middle;
    grid-row: auto / span 2;
    @include lg-vert-push-right();
  }

  .item1 .box,
  .item4 .box,
  .item7 .box,
  .item8 .box,
  .item11 .box,
  .item12 .box {
    margin-bottom: 0;
  }

  .gallery-item.item12 .box {
    margin-top: $base-margin;
  }

  .item2 .box,
  .item5 .box,
  .item7 .box,
  .item9 .box,
  .item10 .box,
  .item13 .box,
  .item14 .box {
    margin-top: 0;
  }
}

/*************************Styles for entry-content********************/
.box-content {
  border-top: $base-border;
  p {
    margin: 0;
    font-size: 14px;
    color: black;
  }
}

.illustrated {
  .entry-photo,
  .entry-text {
    width: auto;
    border: none;
  }
  .entry-photo.portrait,
  .entry-text.portrait {
    width: 50%;
    float: left;
  }
}

.entry-photo {
  box-sizing: border-box;
  padding: $padding-base 0 0 0;
}

.entry-photo.landscape {
  padding-right: 0;
}

.entry-text {
  box-sizing: border-box;
  padding: ($padding-base*3) 0;
  position: relative;

  a {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
  }
}

.entry-text.landscape {
  height: auto;
  padding: 0;
}
.box-header {
  height: max-content;
  margin: auto 0;
  h4 {
    font-size: 24px;
  }
  .number {
    float: left;
    margin-right: $base-margin;
  }
  .title {
    display: inline-block;
  }
}
.vertical .box {
  grid-template-rows: $box-header-fixed-height auto;

}
.vertical-normal .box {
  @include adjust-content(medium-screen) {
    grid-template-rows: $box-header-fixed-height auto;
    .entry-text {
      width: 100%
    }
    .entry-text{
      float: none
    }
    .box-header {
      text-align: center;
      .number {
        float: none;
      }
    }
  }
}

.normal-vertical .box {
  @include adjust-content(large-screen) {
    grid-template-rows: $box-header-fixed-height auto;
    .entry-text {
      width: 100%
    }
    .entry-text {
      float: none
    }
    .box-header {
      text-align: center;
      .number {
        float: none;
      }
    }
  }
}
.vertical .box-header {
  text-align: center;
}

.vertical .box-header .number {
  float: none;
  margin: 0;
}
/**********************************************IndexPage styling************************************/
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 80px;
}
.carousel-wrapper {
  border: $base-border;
  margin-top: $base-margin;
  height: 420px;
  grid-column: 3/span 8;
}
.slide-control {
  height: 40px;
  width: 100px;
  margin: auto;
  grid-row: 2;
}
.slide-control:first-of-type {
  grid-column: 5;
}
.slide-control:last-of-type {
  grid-column: 8;
}
.slide {
  display: none
}
.slide.active {
  display: inherit;
}