/*Screen size utils*/
$break-small: 800px;
$break-large: 1200px;

/*Size base*/
$base-margin: 10px; /***don't change this. Should be 10px! ***/
$padding-base: 5px;
$border-width: 2px;
$portrait-width: 153px;
$landscape-width: 315px;
$horizontal-box-width: 350px;
$horizontal-box-height: 300px;
$box-vert-width: 250px;
$box-vert-height: ($horizontal-box-height + $base-margin) * 2;
$last-row-box-width: calc(#{$horizontal-box-width} + #{$box-vert-width} / 2 + #{$base-margin});
$smbox-header-fixed-height: 56px;
$box-header-fixed-height: 120px;
$box-content-fixed-height: 240px;
/**/
$base-border: 1px solid black;
//$gallery-item-border:  1px solid black;
$gallery-item-border: $border-width solid rgba(223, 223, 223, 0.13);
$color-primary: #fff;
$header-background: #a1a1a1;
$green-grass: #3ACC00;
$aqua-light: #0ACCAB;
$agua-dark: #00A3A3;
$lemon-yellow: #F7E011;
$orange: #E3900B;
$deep-rose: #C8007D;
$sky-blue: #00AAEB;
$classic-red: #E60000;
$lavender: #AB90BB;
$dusty-sand: #F3D0BC;
$sunset: #DAB3B8;
$cake-pink: #ffc9e2;
/*Layout and positioning utils*/
//$sm-vert-push-left: calc(0px - #{$horizontal-box-width} - #{$base-margin} * 2);
//$sm-hor-push-right: calc(#{$horizontal-box-width} + #{$base-margin} *2);
$sm-vert-push-left: calc(0px - #{$horizontal-box-width} - #{$base-margin} * 2 - #{$border-width});
$sm-hor-push-right: calc(#{$box-vert-width} + #{$base-margin} * 2 + #{$border-width});
//$sm-hor-push-right: calc(#{$horizontal-box-width} + #{$base-margin} * 2);
$lg-vert-push-left: calc(0px - #{$horizontal-box-width} - #{$base-margin} * 2);
$lg-vert-push-right: calc(#{$horizontal-box-width} + #{$base-margin} * 2);
$lg-hor-push-right: calc(#{$box-vert-width} + #{$base-margin} * 2);
$lg-hor-push-left: calc(0px - #{$box-vert-width} - #{$base-margin} * 2);
@mixin sm-vert-push-left() {
  transform: translate($sm-vert-push-left, 0);
}

@mixin sm-hor-push-right() {
  transform: translate($sm-hor-push-right, 0);
}

@mixin lg-vert-push-left() {
  transform: translate($lg-vert-push-left, 0);
}

@mixin lg-vert-push-right() {
  transform: translate($lg-vert-push-right, 0);
}

@mixin lg-hor-push-right() {
  transform: translate($lg-hor-push-right, 0);
}

@mixin lg-hor-push-left() {
  transform: translate($lg-hor-push-left, 0);
}

@mixin one-line-header() {
  .number {
    float: left;
    line-height: 30px;
    margin-right: $base-margin;
  }
  .title {
    line-height: 25px;
    display: inline-block;
  }
}

@mixin two-line-centered-header() {
  .entry-text {
    width: 100%
  }
  .entry-text {
    float: none
  }
  .box-header {
    text-align: center;
    .number {
      float: none;
    }
  }
}

@mixin adjust-content($media) {
  @if $media == small-screen {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }
  @if $media == medium-screen {
    @media only screen and (min-width: $break-small) and (max-width: $break-large) {
      @content;
    }
  } @else if $media == large-screen {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

@mixin overflow-rules-for-text() {
  overflow: hidden;
  height: 100%;
  max-height: 254px;
  width: 100%;

  @include adjust-content(small-screen) {
    max-height: 200px;
  }
}

@mixin adjust-transform {
  @include adjust-content(medium-screen) {
    transform: translate(calc(#{$base-margin} * 2.5 + #{$border-width} * 3), 0);
  }
}

@mixin animated-border($color) {
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
  &:before {
    box-sizing: border-box;
    transform: translateX(100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;

  }
  &:after {
    box-sizing: border-box;
    transform: translateX(-100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;

  }
  &:hover {
    color: inherit;
    text-decoration: none;
    border-color: transparent;
  }
  &:hover:before {
    transform: translateX(0);
    height: 100%;
    transition: .1s transform linear, .1s height linear .1s;
    border-color: $color;
  }
  &:hover:after {
    transform: translateX(0);
    height: 100%;
    transition: .1s transform linear .2s, .1s height linear .3s;
    border-color: $color;
  }
}

/**/
body, html, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: #444349;
  background-image: url("../images/stardust.png");
  display: grid;
  grid-template-areas: 'top' 'content';
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  //height: 70px;
  margin-bottom: $base-margin;
  grid-area: top;
  display: grid;
  grid-template-areas: "left right";
  color: $cake-pink;
  border-bottom: 1px solid $cake-pink;
  font-family: Arial, Helvetica, sans-serif;
  @include adjust-content(small-screen) {
    grid-template-areas: 'top' 'bottom';
  }
  nav {
    grid-area: left;
    @include adjust-content(small-screen) {
      grid-area: top;
    }
    align-self: center;
    margin-left: $base-margin;
    ul li {
      display: inline-block;
      margin: $base-margin;
      margin-bottom: 0;
      a {
        @include animated-border($cake-pink);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;
        color: inherit;
      }
      .active {

        color: #4d4d4d;
        background-color: $cake-pink;
        &:hover {
          color: #4d4d4d;
        }
      }
    }
  }
}

.nav-link {
  cursor: pointer;
  background: #4d4d4d;
  border: 2px solid #4d4d4d;
  //border-style: initial;
  //height: 50px;

  margin: $base-margin;
  padding: $padding-base;
  color: $cake-pink;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  @include animated-border($cake-pink);
  display: inline-block;
  &:focus {
    outline: none;
  }
  &:hover {
    color: inherit;
    background: transparent;
  }

}

form {

  @include adjust-content(small-screen) {
    grid-area: bottom;
    justify-self: start;
  }
  grid-area: right;
  align-self: center;
  justify-self: end;
  margin-right: $base-margin;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 400;

  button {
    cursor: pointer;
    background: transparent;
    border: 2px transparent;
    border-style: initial;
    height: 50px;
    width: 100px;
    margin: $base-margin;
    padding: $padding-base;
    color: inherit;
    font-size: 20px;
    letter-spacing: 2px;
    @include animated-border($cake-pink);
    display: inline-block;
    &:focus {
      outline: none;
    }
  }
}

.content-wrapper {
  grid-area: content;
  height: max-content;
  margin: auto 0;
}

/*****************************************Gallery layout****************************/
.gallery {
  width: 370px;
  margin: auto;
  display: grid;
  @include adjust-content(medium-screen) {
    grid-template-areas: "left right";
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    //min-width: max-content;
  }
  @include adjust-content(large-screen) {
    grid-template-areas: "left middle right";
    grid-template-columns: 1fr ($box-vert-width + $base-margin * 2) 1fr;
    grid-auto-flow: column;
    min-width: 85%;
  }
}

.box {
  width: $horizontal-box-width;
  height: $horizontal-box-height;
  border: $base-border;
  box-sizing: border-box;
  margin: $base-margin;
  background-color: white;
  padding: 0 $padding-base*3 $padding-base $padding-base*3;
  border: $gallery-item-border;
  display: grid;
  grid-template-areas: "head" "content";
  grid-template-rows: auto $box-content-fixed-height;
}

.last-row {
  display: grid;
  margin: auto;
  position: relative;

  @include adjust-content(medium-screen) {
    .box {
      width: 100%;
      margin: $base-margin 0;
    }
  }
  @include adjust-content(large-screen) {
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    .gallery-item {
      display: flex;
      grid-area: auto;
      .box {
        width: $last-row-box-width;
      }
    }
    .gallery-item:nth-child(odd) {
      justify-content: flex-end;
    }
    .illustrated {
      .entry-photo.portrait {
        width: $portrait-width;

        div {
          width: inherit;
        }
      }
      .entry-photo.landscape {
        margin: 0 auto;
        width: max-content;
      }
      .entry-text.portrait {
        padding: $padding-base;
        padding-left: $padding-base*3;
        width: calc(#{$last-row-box-width} - #{$portrait-width} - 40px);
      }
    }

  }
}
//
//.item3, .item9, .item15 {
//  @include adjust-transform()
//}

@media only screen and (min-width: $break-small) {
  .vertical,
  .vertical-normal {
    grid-area: right;
    grid-row: span 2;
    .box {
      width: $box-vert-width;
      height: $box-vert-height;
    }
  }

  .vertical-normal.push-left {
    @include sm-vert-push-left();
  }

  .push-right {
    @include sm-hor-push-right();
  }

  .item1, .item2, .item7, .item8, .item13, .item14, .item5, .item6, .item11, .item12 {
    display: flex;
    justify-content: flex-end;
  }
  .item4, .item10 {
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: $break-large) {
  //.push-left,
  .push-right,
  .vertical-normal.push-left {
    transform: none;
  }

  .normal-vertical .box {
    width: $box-vert-width;
    height: $box-vert-height;
  }
  .vertical-normal .box {
    width: $horizontal-box-width;
    height: $horizontal-box-height;
  }

  .gallery-item.item1,
  .gallery-item.item2,
  .gallery-item.item11,
  .gallery-item.item13 {
    grid-area: left;
    grid-row: auto;
  }

  .gallery-item.item3 {
    grid-area: middle;
    grid-row: auto / span 2;
  }

  .gallery-item.item4,
  .gallery-item.item5,
  .gallery-item.item8,
  .gallery-item.item10 {
    grid-area: right;
    grid-row: auto;
  }

  .gallery-item.item6 {
    grid-area: middle;
    grid-row: auto / span 2;
    @include lg-vert-push-left()
  }

  .gallery-item.item7,
  .gallery-item.item9 {
    grid-area: left;
    grid-row: auto;
    @include lg-hor-push-right();
  }

  .gallery-item.item12,
  .gallery-item.item14 {
    grid-area: right;
    grid-row: auto;
    @include lg-hor-push-left();
  }

  .gallery-item.item15 {
    grid-area: middle;
    grid-row: auto / span 2;
    @include lg-vert-push-right();
  }

  .gallery-item.item12 .box {
    margin-top: $base-margin;
  }
  .item1, .item2, .item7, .item9, .item11, .item13 {
    display: flex;
    justify-content: flex-end;
  }
  .item4, .item8, .item10, .item14, .item5, .item6, .item12 {
    display: flex;
    justify-content: initial;
  }
}

/*************************Styles for entry-content********************/
.box-content {
  border-top: $base-border;
  padding-bottom: 5px;
  p {
    margin: 0;
    font-size: 14px;
    color: black;
  }
}

.illustrated {
  .entry-photo,
  .entry-text {
    width: auto;
    border: none;
  }
  .entry-photo.portrait,
  .entry-text.portrait {
    width: 50%;
    float: left;
  }
  /*following property is added for presentation project. Should be reviewed in future jar-app*/
  .entry-text.landscape {
    max-height: 80px;
  }
  .entry-text.landscape.portrait {
    max-height: 230px;
  }
}

.entry-photo {
  box-sizing: border-box;
  padding: $padding-base 0 0 0;
}

.entry-photo.landscape {
  padding-right: 0;
  margin: 0 auto;
  width: max-content

}

.entry-text {
  box-sizing: border-box;
  padding: ($padding-base*3) 0;
  position: relative;
  @include overflow-rules-for-text();

  a {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
  }
}

/*following property is added for presentation project. Should be reviewed in future jar-app*/

.entry-photo.portrait-adjusted {
  @include adjust-content(small-screen) {
    float: left;
    margin-right: 5px;

  }
}

/*********************************************************************************************/
.box-header {
  height: max-content;
  margin: auto 0;
  h4 {
    font-size: 24px;
  }

  @include one-line-header ()
}

.box-header.small {
  .title {
    font-size: 20px;
    display: initial;
  }
}

.vertical .box {
  grid-template-rows: $box-header-fixed-height auto;
  @include adjust-content(small-screen) {
    grid-template-rows: $smbox-header-fixed-height auto;

  }

}

.vertical-normal .box {
  @include adjust-content(small-screen) {
    grid-template-rows: $smbox-header-fixed-height auto;
  }
  @include adjust-content(small-screen) {
    grid-template-rows: $smbox-header-fixed-height auto;
  }

  @include adjust-content(medium-screen) {
    grid-template-rows: $box-header-fixed-height auto;
    @include two-line-centered-header()
  }
}

.normal-vertical .box {
  @include adjust-content(large-screen) {
    grid-template-rows: $box-header-fixed-height auto;
    @include two-line-centered-header()
  }
}

.vertical .box-header {
  text-align: center;
  .number {
    float: none;
    margin: 0;
  }
  @include adjust-content(small-screen) {
    text-align: initial;
    @include one-line-header ()
  }
}

/**********************************************IndexPage styling************************************/
.carousel-wrapper {
  position: relative;
  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: auto auto;
}

.carousel-body {
  grid-area: top;
  height: 450px;
  margin-bottom: $base-margin*4;
}

@mixin slide-position($width, $side-width) {
  &.slide-right.next {
    right: calc(-#{$width} + #{$side-width});
  }
  &.slide-left.previous {
    right: calc(100vw - #{$side-width});

  }
  &.active {
    right: calc((50vw - #{$width} / 2));

  }
}

.slide {
  position: fixed;
  right: 0;
  transition: all 1s ease-in-out;
  height: 450px;
  box-sizing: border-box;
  padding: $padding-base*2;
  padding-left: $padding-base*6;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(19, 19, 19, 0.45);
  box-shadow: 0 10px 20px 5px rgba(159, 159, 159, 0.82), 0 0 2px rgba(232, 232, 232, 0.99);

  @include adjust-content(large-screen) {
    $slide-width: 710px;
    $side-slide-width: 100px;
    width: $slide-width;
    @include slide-position($slide-width, $side-slide-width);
  }
  @include adjust-content(medium-screen) {
    $slide-width: 710px;
    $side-slide-width: 50px;
    width: $slide-width;
    @include slide-position($slide-width, $side-slide-width);
  }
  @include adjust-content(small-screen) {
    $slide-width: inherit;
    $side-slide-width: 0px;
    width: 100%;
    @include slide-position($slide-width, $side-slide-width);
  }
  &.slide-right {
    background-color: #4d4d4d;
    right: -150vw;
  }
  &.slide-left {
    background-color: #4d4d4d;
    right: 150vw;
  }
  &.active {
    z-index: 100;
  }
}

.carousel-progress {
  grid-area: bottom;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @include adjust-content(small-screen) {
    position: fixed;
    bottom: 25px;
    width: 100%;
    .progress-wrapper {
      width: max-content;
      margin: 0 auto;
    }
  }

  ul {
    overflow: hidden;
    display: inline-block;
    float: left;
  }
  .slide-control {
    margin-top: 0

  }
  .slide-control:first-child {
    float: left;
  }
  .slide-control:last-child {
    float: left;
  }
}

.progress-bullet {
  list-style-type: none;
  float: left;
  a {
    display: inline-block;
    margin: 20px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(255, 201, 226, 0.35);
    transition: all 0.5s ease-in-out;
  }

}

.progress-bullet.active a {
  background: $cake-pink;
  transform: scale(1.5, 1.5);
}

.carousel-controls {

  position: fixed;
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 50px 1fr 50px;
  @include adjust-content(large-screen) {
    grid-template-columns: 100px 1fr 100px;
  }
  @include adjust-content(small-screen) {
    display: none;
  }
  align-items: center;
  justify-content: space-between;
  .slide-control span {
    color: $deep-rose;
  }
  .control-next {
    grid-area: right;
  }
  .control-prev {
    grid-area: left;
  }
  .slide-control {
    height: inherit;
    background-color: $cake-pink;
    opacity: 0.5;
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
}

.slide-control {
  height: 40px;
  width: 40px;
  margin-top: -20px;
  border-radius: 50%;
  border-color: transparent;
  background: transparent;
  color: $cake-pink;
  font-size: 20px;
  outline: none;
  &:disabled {
    display: none;
  }
  span {
    color: $cake-pink;
    cursor: pointer;
    display: inline-block;
    transform: scale(1.5, 1.5);
    transition: all 0.5s ease-in-out;
  }
  &.control-prev span:before {
    margin-left: 10px;
    content: '\00ab';
  }
  &.control-next span:before {
    margin-right: 10px;
    content: '\00bb';
  }
  &.control-prev:hover span {
    transform: scale(2.3, 2.3) translateX(-5px);
    transition: all 0.3s ease-in-out;
  }

  &.control-next:hover span {

    transform: scale(2.3, 2.3) translateX(5px);
    transition: all 0.3s ease-in-out;
  }
}

.slide-content {

  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  .small {
    font-size: 16px;
  }
  h1 {
    font-family: 'Oxygen', sans-serif;
    // font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
  }
  ul {
    list-style-type: none;
    //position: relative;
    //left: 60px;
    li {
      line-height: 36px;
    }
  }
  ol li {
    padding-bottom: 10px;
  }
  &.seventh ul,
  &.fifth ul {
    padding-left: 60px;
    li span {
      color: $green-grass;
      position: relative;
      left: -$base-margin*2;
      font-size: 32px;
      &:before {
        content: '\274F	';
        color: initial;
        position: relative;
        left: 20px;
        font-size: 20px;
      }
    }
  }
  &.second {
    p {
      font-size: 16px;
      span {
        margin-left: $base-margin;
        font-size: 30px;
      }
    }
    ul {
      font-size: 16px;
      span {
        color: $lemon-yellow;
        font-size: 20px;
        margin-right: $base-margin;
      }
    }
  }
}

